.sortDiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 15px ;
}

.sortIcon,.sortText{
    margin-right: 5px;
}
.sortText{
    color: #616161;
}

.sortMenu{
    padding:5px 5px;
    border-radius:25px;
    border:1px solid #7666e4;
    position: relative;
    color: #616161;

}

.sortMenu>option{
    border:0;
}

#coinTable thead{
    background-color: #EBE4E4;
    color:#616161
}

.table-dark.table-hover tbody tr:hover{
    background-color: #7766e447!important;
  }
  
  
 

