/* body{
  background-color: #7666e4;
}

#root{
  background-color: #7666e4;
} */



.table-dark.table-hover tbody tr:hover{
  background-color: #7766e447!important;
}


.coin-search
{
  text-align: center;
}

.coin-text
{
  text-transform: capitalize;
}
.coin-input
{
  width:550px;
  padding: 10px 10px;
  margin: 10px 15px;
  border-radius: 10px;
  border:0.2px solid lightgray;
}

.coin-input::placeholder
{
  color:#1c1c1c;
  text-transform: capitalize;
}